@font-face {
  font-family: 'Manrope';
  src: url("./assets/fonts/Manrope-Medium.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0.5em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tokens-table td {
  vertical-align: middle;
}

.background-color-blue {
  background-color: #5F8AFA;
}

.background-color-grey {
  background-color: #3F4246;
}
